{% load static %}
<nav class="navbar navbar-dark bg-dark">
  <style>
  .nav-pills .nav-link.active {
    background-color: #dc3545;
  }
  </style>
  <div class="container">
    <a class="navbar-brand" href="{% url 'posts:index' %}">
      <img src="{% static 'img/logo_dark.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      <span style="color:#dc3545">Ya</span>tube
    </a>
    <ul class="nav nav-pills">
      {% with request.resolver_match.view_name as view_name %}
        <li class="nav-item">
          <a class="nav-link {% if view_name == 'about:author' %}active{% endif %}"
             href="{% url 'about:author' %}">
            <small class="text-white">Об авторе</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-md-1 {% if view_name == 'about:tech' %}active{% endif %}"
             href="{% url 'about:tech' %}">
            <small class="text-white">Технологии</small>
          </a>
        </li>
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'posts:group_create' %}active{% endif %}"
               href="{% url 'posts:group_create' %}">
              <small class="text-white">Создать группу</small>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'posts:post_create' %}active{% endif %}"
               href="{% url 'posts:post_create' %}">
              <small class="text-white">Новая запись</small>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'users:password_change' %}active{% endif %}"
               href="{% url 'users:password_change' %}">
              <small class="text-white">Изменить пароль</small>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-md-2 {% if view_name == 'posts:profile' and request.user == author %}active{% endif %}"
              href="{% url 'posts:profile' user.username %}">
              <b><small class="text-white">{{ user.username }}</small></b>
            </a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-danger {% if view_name == 'users:logout' %}active{% endif %}"
               href="{% url 'users:logout' %}">
              <small class="text-white">Выйти</small>
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="btn btn-outline-primary me-md-1 {% if view_name == 'users:login' %}active{% endif %}"
                 href="{% url 'users:login' %}">
                <small class="text-white">Войти</small>
            </a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-success {% if view_name == 'users:signup' %}active{% endif %}"
                 href="{% url 'users:signup' %}">
                <small class="text-white">Регистрация</small>
            </a>
          </li>
        {% endif %}
      {% endwith %}
    </ul>
  </div>
</nav>