<article>
  <ul>
    {% if show_author %}
      <li>
        Автор: {{ post.author.get_full_name }}
      <a href="{% url 'posts:profile' post.author.username %}">
        все посты пользователя
      </a>
      </li>
    {% endif %}
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  {% load thumbnail %}
  {% thumbnail post.image "860x239" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}">
  {% endthumbnail %}
  <p>{{ post.text|truncatechars:160 }}</p>
  <a href="{% url 'posts:post_detail' post.id %}">
    подробная информация
  </a>
  <p>
    {% if post.group %}
    <a href="{% url 'posts:group_list' post.group.slug %}">
      все записи группы
    </a>
    {% endif %}
  </p>
</article>