{% extends 'base.html' %}
{% block title %}
  Посты авторов на которых вы подписаны
{% endblock %}
{% block content %}
    {% include 'posts/includes/switcher.html' %}
    {% if page_obj %}
      {% for post in page_obj %}
        {% include 'includes/post.html' with show_author=True unfollow=True %}
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
    {% else %}
      Вы не подписаны не на одного автора
    {% endif %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}