{% extends 'base.html' %}
{% block title %}
  Профиль пользователя - {{ author.get_full_name }}
{% endblock %}
{% block content %}
  <div class="mb-5">
    <h1>Все посты пользователя: {{ author.username }}</h1>
    {% if user != author %}
      {% if following %}
        <a class="btn btn-danger btn-sm"
          href="{% url 'posts:profile_unfollow' author.username %}" role="button" >
          Отписаться
        </a>
      {% else %}
        <a class="btn btn-success btn-sm"
          href="{% url 'posts:profile_follow' author.username %}" role="button">
          Подписаться
        </a>
      {% endif %}
    {% else %}
      <a class="btn btn-outline-dark btn-sm me-md-1"
        href="{% url 'posts:follow_index' %}" role="button">
        Мои подписки
      </a>
      <a class="btn btn-outline-dark btn-sm"
        href="{% url 'posts:profile_settings' author.username %}" role="button">
        Настройки пользователя
      </a>
    {% endif %}
    <p>
      <h5>Всего постов: {{ author.posts.count }}</h5>
    </p>
    <p style="padding: 1px 0 0;">
      {% for post in page_obj %}
        {% include 'includes/post.html' with show_author=True %}
      {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
      {% include 'posts/includes/paginator.html' %}
    </p>
  </div>
{% endblock %}
