{% extends 'base.html' %}
{% block title %}
  Отмена подписки
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Отмена подписки
        </div>
        <div class="card-body">
          <p>Вы успешно отписались от автора: {{ author.username }}</p>
          <a class="btn btn-outline-dark btn-sm"
             href="{% url 'posts:index' %}">
            На главную
          </a>
          <a class="btn btn-outline-dark btn-sm me-md-1"
             href="{% url 'posts:follow_index' %}">
            На страницу подписок
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}